.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-primary {
    @apply bg-blue-500 text-white;
}
.btn-block{
    @apply w-full block text-center;
}
.btn-primary:hover {
    @apply bg-blue-700;
}
.btn-danger {
    @apply bg-red-500 text-white;
}
.btn-danger:hover {
    @apply bg-red-700;
}
